.head1 .nav .dropdown1{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: none;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    top: 90px;
    left: 620px;
    width: 220px;
    height: 200px;
    justify-content: space-between;
    background-color: white;
    padding:15px;
    justify-items: center;
    align-items: center;
}
.horizontal:hover .dropdown1{
    display: flex;
    flex-direction: column;
    z-index: 1000;
    
}
.head1 .nav .dropdown1 img{
    width: 30px;
    height: 30px;
}
.head1 .nav .dropdown1 div{
    text-align: center;
    
}
.head1 .nav .dropdown1 li{
    display: flex;
    background-color: black;
    gap: 20px;
    color: white;
    width: 180px;
    height:48px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.head1 .nav .dropdown1 .apple{
    background-color: white;
}
.dropdown1 h4{
    color: black;
}